$font-primary: Helvetica Neue, sans-serif;

$color1: black;
$color2: #3e3e3e;

$bg-color: white;
$bg-grad: linear-gradient(#ffac91, #d2d2d2, #52a0e1);

$grad-hot: #DAC4BE;
$grad-cold: #D4E0EA;

$footer-height: 0px;