@import 'vars';
@import 'mixins';
@import 'resets';

h1, h2 { 
  font: {
    family: OpenSans, sans-serif;
    weight: 300;
  }
  text-align: center; 
}
h1 {
  font-size: rem(27);
  text-transform: uppercase;
  @include breakpoint(400) {
    font-size: rem(30);
  }
}
h2 {
  font-size: rem(14);
  margin-bottom: 10px;
  padding: 0 10px;
  @include breakpoint(400) {
    font-size: rem(18);
  }
}
h3 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font:{
    weight: 300;
    size: rem(15);
  }
}
h4 {
  color: #45A0F8;
  font-size: 22px;
}

.hidden { display: none !important; }

/*LOGOMARK*/
#mtn-1 { fill: #CAE2FF; }
#mtn-2 { fill: #B5E0F8; }
#mtn-3 { fill: #74C6FF; }
#mtn-4 { fill: white; }
#coat-body { fill: #A3DBEF; }
#coat-trim { fill: black; }
#coat-hood { fill: white; }

/*Question dropdown*/
#mission {
  max-width: rem(550);
  width: 90vw;
  margin: 0 auto;
}

select {
  @include appearance(none);
  width: 100%;
  padding: 10px 12px;
  background:{
    color: white;
    image: url(images/sprites.png);
    repeat: no-repeat;
    position: calc(100% - 1.1rem) rem(12);
    size: rem(7);
  } 
  border: 1px solid #666;
  border-radius: 4px;
  font:{
    family: HelveticaNeue, sans-serif;
    size: rem(14);
    weight: 600;
  }
  @include breakpoint(400) {
    background:{
      position: calc(100% - 1.1rem) rem(13);
      size: rem(9);
    }
    font-size: rem(20);
  }
}

//d3 and related responses
@import 'graphs';
//commenting system
@import 'notes';




